body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffd0a8;
    color: #333;
    font-family: 'calibri', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
}
.container{
    text-align: center;
    padding: 2rem;
    border-radius: 5px;
    background-color: #fff;
    flex: 0 0 80%;
}


#quoteBtn{
    color: #fff;
    padding: 0.25rem 0.5rem;
    border: 3px solid #f15025;
    border-radius: 7px;
    color: #fefefe;
    background: rgba(0, 0, 0, 0.6);
    font-size: 1.6rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
}
#quoteBtn:hover{
background: #ffd000;
}
blockquote{
    background-color: #f9f9f9;
    border-left: 10px solid #fcdbbf;
    margin: 1.5rem;
    padding: 0.5rem;
}
#quoteAuthor{
    color: #ffd000;
    
}